body {
    padding-top: 120px;
}

.visible { display: flex;}
.hidden {display: none;}

.noIdent {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 15px;
}

.highlighted {
  background-color: #abb6c2 !important;
}
